html, body {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

div.repos {
  float: left;
  background-color: #63D1F4;
  width: 25%;
  height: 100%;
  overflow-y: auto;
}

h3.repostitle {
  text-align: center;
  color: white;
}

ul.reposlist {
  float: right;
  padding-right: 50px;
}

ul.notdecorated {
  list-style-type: none;
}

a.repolink {
  color: white;
}

div.commit {
  border: 1px dotted gray;
  width: 50%;
  margin-bottom: 20px;
}

div.fetch {
  float: left;
  padding-left: 50px;
  background-color: #fff;
  width: 75%;
  height: 100%;
  overflow-y: auto;
}
