<% objects.forEach(function(object) { %>
  <div class='commit'>
    <ul class='notdecorated'>
      <li>
        <%= object.commit.message %>
      </li>

      <li name='<%= object.commit.author.name %>'>
        @<%= object.commit.author.name %>
      </li>
    </ul>
  </div>
<% }) %>

<% if (next_page) { %>
  <a class='commitlink'
  href='#load more'
  data-url='/commits/<%= repo %>/<%= next_page %>'>
    Carregar mais
  </a>
<% } %>
