<!DOCTYPE HTML>
<html>
<head>
  <title>Rastreabilidade</title>

  <link rel='stylesheet' href='/css/bootstrap.css'>
  <link rel='stylesheet' href='/css/base.css'>

  <script type='text/javascript' src='/js/jquery/jquery-1.11.2.min.js'></script>
  <script type='text/javascript' src='/js/calls.js'></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class='container'>
    <div class='repos'>
      <h3 class='repostitle'>projetos</h3>

      <ul class='reposlist notdecorated'>
      <% objects.forEach(function(repo){ %>
        <li>
          <a class='repolink'
            href='#<%= repo.name %>'
            name='<%= repo.name %>'
            data-url='/repos/<%= repo.name %>/<%= repo.forks_count %>/<%= repo.stargazers_count %>'>
              <%= repo.name %>
          </a>
        </li>
        <li></li>
      <% }) %>
      </ul>
    </div>

    <div class='fetch'>
      Welcome!
    </div>
  </div>

</body>

</html>
