<div class='repodetails'>
  <ul class='notdecorated'>
    <span> forks <%= forks %> </span>
    <span> stars <%= stars %> </span>
  </ul>
</div>

<div class='commits'>
  <% objects.forEach(function(object) { %>
    <div class='commit'>
      <ul class='notdecorated'>
        <li>
          <%= object.commit.message %>
        </li>

        <li name='<%= object.commit.author.name %>'>
          @<%= object.commit.author.name %>
        </li>
      </ul>
    </div>
  <% }) %>

  <a class='commitlink'
    href='#load more'
    data-url='/commits/<%= name %>/<%= next_page %>'>
    Carregar mais
  </a>
</div>
